/* CSS STARTER */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  /* font-size: 10px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   color-scheme: dark light; */
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
address,
article,
aside,
details,
dialogue,
fieldset,
figcaption,
figure,
footer,
form,
header,
hr,
main,
nav,
pre,
section,
table,
p {
  margin-top: 0;
  margin-block-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /* You MUST make sure that links stand out from nomal text though...*/
}

img,
picture,
svg,
video {
  display: block;
  /* This means that it can be less than 100% of the width of its parent IF the image is INTRINSICALLY smaller */
  max-width: 100%;

  height: auto;
  /* 'auto' is the initial value for height BUT for images (and other elements which have an intrinic height) that is not the case. To make an image responsive you set one dimension (usually width) to [max-]width: 100%; and the other to 'auto' to ensure it keeps aspect ratio. 'auto' basically tells the browser to decide. */
}

/* Because we us <ul>s for lists that we don't always want bulletted. */
ul {
  list-style: none;
  padding-left: 0;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
}

/* stops icons being the target of JS click events */
/* .btn *,
button * {
  pointer-events: null;
  user-select: none;
} */

/* inherits the font */
input,
button,
textarea,
select {
  font: inherit;
}

// MY CSS

@mixin margin($margin-top, $margin-bottom, $margin-left, $margin-right) {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  margin-left: $margin-left;
  margin-right: $margin-right;
}

@mixin padding($padding) {
  padding: $padding;
}

body {
  font-family: Caudex, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.link-hover {
  text-decoration: underline;
}

// HEADER

@mixin font-sizes($font_size) {
  font-size: $font_size;
  margin: 1px;
}

h1 {
  @include font-sizes(1.9rem);
}

h2 {
  @include font-sizes(3rem);
}

p {
  @include font-sizes(1.3rem);
}

header {
  @extend .flex-wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  a {
    padding: 2px;
  }

  a:hover {
    @extend .link-hover;
  }
}

.logo,
.burger_menu {
  @include margin(0, 0, 5px, 5px);

  img {
    height: 35px;
  }
}

.title {
  @include padding(4px);
}

.burger_menu img {
  height: 25px;
  margin: 6px;
}

.menu {
  display: none;
}

// HOMEPAGE

@mixin background_image {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.homepage {
  background-image: url(./images/homepage_background.jpeg);
  @include background_image;
}

.homepage_text {
  padding-top: 20vh;
  text-align: center;
}

// PHOTOGRAPHS PAGE

.photo_wall {
  @extend .flex-wrap;
  justify-content: center;

  .img_container {
    @include margin(5px, 5px, 5px, 5px);
  }
}

.img_container img {
  width: 300px;
}

.img_overlay {
  @include padding(5px);
  text-align: center;
}

// CONTACT PAGE

.contact_page {
  height: 750px;
  @extend .flex-center;
}

// FOOTER

footer {
  text-align: center;
  margin-bottom: 10px;

  a:hover {
    @extend .link-hover;
  }
}

// MEDIA QUERIES

@media screen and (min-width: 700px) {
  h1 {
    @include font-sizes(2.6rem);
  }

  p {
    @include font-sizes(1.5rem);
  }

  header {
    justify-content: space-between;
  }

  .logo,
  .burger_menu {
    width: 20%;
  }

  .burger_menu {
    display: flex;
    justify-content: flex-end;
  }

  header a {
    @include padding(5px);
  }

  .logo img {
    height: 50px;
  }
}

// DESKTOP

@media screen and (min-width: 1100px) {
  h1 {
    @include font-sizes(3.5rem);
  }

  p {
    @include font-sizes(1.7rem);
  }

  .logo,
  .menu {
    width: 28%;
  }

  .logo {
    padding-left: 30px;
  }

  .logo img {
    height: 80px;
  }

  .menu {
    display: block;
    text-align: end;
    padding-right: 20px;
  }

  .burger_menu {
    display: none;
  }

  .homepage_text {
    padding-top: 17vh;
  }

  h2 {
    @include font-sizes(3.5rem);
  }

  .img_container {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 3px;
    border-style: solid;
    border-color: #ffffff;
  }

  .img_container:hover {
    border-color: #efd5c0;
  }

  .img_container img {
    width: 400px;
  }

  @mixin img_overlay {
    background-color: white;
    opacity: 0.6;
    height: 100%;

    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
  }

  .img_overlay {
    @include img_overlay();
  }

  .img_container:hover .img_overlay {
    transform: translateY(0%);
  }
}
